<div class="loading">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<div class="list-items" [ngClass]="loading ? 'hidden-animation' : 'show-animation'">
  <table mat-table [dataSource]="operations">
    <ng-container matColumnDef="payAt">
      <th mat-header-cell *matHeaderCellDef> Pay at </th>
      <td mat-cell *matCellDef="let element"> {{element.payAt}}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} zł</td>
    </ng-container>

    <ng-container matColumnDef="balanceAfterSurgery">
      <th mat-header-cell *matHeaderCellDef> Balance after surgery </th>
      <td mat-cell *matCellDef="let element"> {{element.balanceAfterSurgery}} zł</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="location_name">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let element"> {{element.location !== null ? element.location.name : 'lack'}} </td>
    </ng-container>

    <ng-container matColumnDef="type_name">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type !== null ? element.type.name : 'lack'}} </td>
    </ng-container>

    <ng-container matColumnDef="update_delete">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="update" (click)="openUpdateModal(element)">
          <mat-icon>update</mat-icon>
        </button>
        <button mat-icon-button aria-label="delete">
          <mat-icon>remove</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="limit"
    [length]="operationsCount"
    (page)="pageHandle($event)"
  >
  </mat-paginator>
</div>
