@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
  margin: 0;
}

.small-form-wrapper {
  margin: 0 10px 0 10px;

  width: 100%;
  max-width: 640px;

  mat-form-field {
    width: 100%;
  }
}

.container {
  margin-top: 30px;
  display: flex;
}

.mt-1 {
  margin-top: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.hidden-animation {
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.show-animation {
  transition: 0.2s ease-in-out;
  opacity: 1;
}

.loading {
  display: flex;
  justify-content: center;

  margin-top: 30px;
}
