<mat-form-field>
  <mat-label>Location</mat-label>

  <input type="text"
         placeholder="Eg. biedronka, kfc"
         aria-label="Location"
         matInput
         [formControl]="form.get('location').get('name')"
         [errorStateMatcher]="matcher"
         [matAutocomplete]="auto">

  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" (click)="form.get('location').get('id').setValue(option.id)">
      {{ option.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
